<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test name="Test Broken Link">
		<parameter name="browserName" value="Chrome" />
		<classes>
			<class name="brokenLinkAndImage.BrokenLink">
				<methods>

					<include name="testBrokenLinks" />
				</methods>
			</class>
		</classes>
	</test>
	
	<test name="Test Broken Image">
		<parameter name="browserName" value="Chrome" />
		<classes>
			<class name="brokenLinkAndImage.BrokenImage">
				<methods>
					<include name="testBrokenImages" />
				</methods>
			</class>
		</classes>
	</test>
</suite> <!-- Suite -->
